<div class="row well">
	<div class="col-sm-3">
		<strong>Day</strong> {{ day }}
	</div>
	<div class="col-sm-3">
		<strong>Users</strong> {{ users.toFixed(2) }}<br/>
		<strong>Earnings</strong> {{ appEarnings.toFixed(2) }}<br/>
		<strong>Disputed Bets</strong> {{ totalDisputedBets }}<br/>
		<strong>Moderator Earnings</strong> {{ moderatorEarnings.toFixed(2) }}<br/>
		<strong>Average Moderator Earning</strong> {{ (moderatorEarnings / moderatorCount).toFixed(2) }}
	</div>
	<div class="col-sm-3 col-sm-offset-3 text-right">
		<button class="btn btn-primary" ng-click="generateDay()">Proceed</button>
		<button class="btn btn-info" ng-click="continueRun()">Continue</button>
		<button class="btn btn-default" ng-click="stopRun()">Stop</button>
	</div>
</div>
<hr/>

<div class="row">
	<div class="col-sm-3" style="margin-right: 20px;">
		<h4>Staking Contract</h4>
		<div class="row">
			<pre>{{ contract | json }}</pre>
		</div>
	</div>
	<div class="col-sm-8">
		<h4>Moderators</h4>
		<div class="row">
			<div class="col-sm-3 well" style="margin-right: 20px;" ng-repeat="moderator in moderators">
				<table class="table table-condensed">
					<tbody>
						<tr>
							<td>ID</td>
							<td>{{ moderator.id }}</td>
						</tr>
						<tr>
							<td>Balance</td>
							<td>{{ moderator.getBalance() }}</td>
						</tr>
						<tr>
							<td>Earnings</td>
							<td>{{ moderator.getEarnings() }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<h4>Bets</h4>
	<div class="row">
		<div class="col-sm-3 well" style="margin-right: 20px;" ng-repeat="bet in bets">
			<table class="table table-condensed">
				<tbody>
					<tr>
						<td>Amount</td>
						<td>{{ bet.stake }}</td>
					</tr>
					<tr>
						<td>Disputed</td>
						<td>
							<span ng-if="!bet.disputed" class="label label-info">Settled</span>
							<span ng-if="bet.disputed" class="label label-danger">Disputed</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
